<div class="container m-auto my-5 row d-flex align-items-start justify-content-between ">
  <div class="col-md-12">
    <h2>Welcome to our game </h2>
    <p>In this page you will see two vergions of our game,before starting the game make sure that you read the game rules . </p>
   <div class="rules row justify-content-between m-auto w-100">
    <div class="col-md-5 ">
      <h3>Game hints :</h3>
      <ul>
        <li>There is two players in this game </li>
        <li>First player takes <span class="text-danger fw-bold">Red</span> and other takes <span class="text-warning fw-bold">yellow</span></li>

      </ul>
    </div>
    <div class="col-md-5">
      <h3 class="opacity-0">Game  :</h3>
      <ul>
        <li class="row-win position-relative ps-5">Match any row to win  </li>
        <li class="col-win position-relative ps-5">Match any column to win </li>
        <li class="x-win position-relative ps-5">Match X area to win </li>

      </ul>
    </div>
   </div>

  </div>
  <div class="system col-md-5 px-3 py-4 my-2">
    <h2 class="h1 ">  Old version</h2>
    <p>It is the classic game .</p>
    <p>Every player have his turn to play without any restrictions in the free space ,if any one achieves the win ,congrates to him
      .else, it is draw you can start a new game.
    </p>
    <img src="../../assets/x-o.PNG" class="w-100" alt="">

    <div class=" card mt-4 py-3 d-flex ">
    <a href="https://x-o-delta.vercel.app/" target="blank" class="d-flex"><i class="fa-solid fa-game-board"></i> <span class="px-2">Try now X-O Vergion</span>  </a>
  </div>
  </div>
  <div class="system col-md-5 px-3 py-4 my-2 ">
    <h2 class="h1 ">New version</h2>
    <p>At the new vergion we solved the limitting in the game. (There is no Draw ) </p>
    <p>Every player have 3 free turn then you will move one of them to other position .so you have only two choice to <span class="text-success">win</span>  or <span class="text-danger">lose</span> </p>
    <img src="../../assets/sigma.PNG" class="w-100" alt="">
    <div class=" card mt-4 py-3 d-flex ">
    <a routerLink="/board"  class="d-flex"><i class="fa-solid fa-game-board"></i> <span class="px-2">Try now SIGA Vergion</span>  </a>
  </div>
  </div>


</div>
