*{
    text-align: center;

}
.head{
  color: #fd9843;
}

main{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
}
app-square
{
    border: 1px gray solid;
    height: 150px;
}
.main-font{
  font-family: 'Josefin Sans', sans-serif;
}
.sec-font{
  font-family: 'Kavoon', cursive;
  letter-spacing: 3px;
}
.nav{
  width: 100%;
  background-color: rgb(89, 88, 88);

}
.nav ul {
  list-style: none;
}
